body {
    font-family: Courier, monospace;
    background-color: #f3f4de;
}

h1 {
    color: #2988BC;
}

h3 {
    color: #2F496E;
}

.btn-primary {
    background-color: #ED8C72;
    border-color: #ED8C72;
}

.btn-info {
    background-color: #2988BC;
    border-color: #2988BC;
}

.btn-success {
    background-color: #2F496E;
    border-color: #2F496E;
}

.btn-danger {
    background-color: #ED8C72;
    border-color: #ED8C72;
}

.btn-warning {
    background-color: #2988BC;
    border-color: #2988BC;
}